/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-child span {
  font-size: 2em;
  cursor: pointer;
}

header {
  /* position: -webkit-sticky; */
  position: sticky;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

body {
  background-color: #DAE0E6;
}

.session-button {
  color: #0079d3;
  padding: 4px 16px;
  border: 1px solid #0079d3;
  font-size: 14px;
  background-color: white;
  width: 86px;
  height: 22px;
  margin-left: 16px;
  border-radius: 35px 35px 35px 35px;
  cursor: pointer;

  font-family: Noto Sans, Arial, sans-serif;
  letter-spacing: unset;
  font-weight: 700;
  text-align: center;
}

.session-button:hover {
  background-color: #33a8ff;
}

.filled-blue {
  color: white;
  background-color: #0079d3;
}

.setting-button {
  padding: 2px 15px;
  margin: 7px;
}

.setting-button:hover {
  padding: 1px 14px;
  border: 1px solid lightgray;
}

.logo {
  font-family: Noto Sans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
}