/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Noto Sans, Arial, sans-serif;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-child {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Noto Sans, Arial, sans-serif;
}

.modal-child span {
  font-size: 2em;
  cursor: pointer;
}

header {
  /* position: -webkit-sticky; */
  /* position: fixed; */
  position: sticky;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

body {
  background-color: #DAE0E6;
}

p {
  font-size: 12px;
}

.bubble-button {
  color: #0079d3;
  padding: 4px 16px;
  border: 1px solid #0079d3;
  font-size: 14px;
  background-color: white;
  width: 86px;
  /* height: 22px; */
  margin-left: 16px;
  border-radius: 35px 35px 35px 35px;
  cursor: pointer;

  font-family: Noto Sans, Arial, sans-serif;
  letter-spacing: unset;
  font-weight: 700;
  text-align: center;
}

.bubble-button:hover {
  background-color: rgb(244, 249, 253);
}

.bubble-button:active {
  background-color: rgb(208 228 246);
}

.filled-blue {
  color: white;
  background-color: rgb(26, 109, 205);
}

.filled-blue:hover {
  color: white;
  background-color: #0079d3;
}

.filled-blue:active {
  background-color: rgb(57, 134, 213); 
}

.setting-button {
  padding: 2px 15px;
  margin: 7px;
}

.setting-button:hover {
  padding: 1px 14px;
  border: 1px solid lightgray;
}

.logo {
  font-family: Noto Sans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
}

.input-group {
  position: relative;
  margin: 20px 0 5px;
}

.input-group > input {
  font-size: 14px;
  padding: 22px 10px 12px 12px;
  display: block;
  height: 48;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: rgba(251, 251, 250, 0.7);
}

.input-group > input:hover,
.input-group > input:focus {
  outline: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input-group > label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2 ease all;
}

.input-group > input:hover ~ label,
.input-group > input:focus ~ label,
.input-group > input:valid ~ label {
  top: 5px;
  font-size: 12px;
}

.modal-child  button {
  margin-bottom: 10px;
}

.home-description {
  display: flex;
  justify-content: end;
  /* align-items: center; */
  flex-direction: column;
  padding: 0 12px 12px;
  width: 285px;
  height: 228px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
}

.home-description > h2 {
  /* text-align: left; */
  font-size: 16px;
  /* line-height: 20px; */
  font-weight: lighter;
  padding: 10px;
}

.home-description > a,
.home-description > button {
  line-height: 1.6;
  margin-top: 12px;
  margin-left: 0px;
  width: 90%;
}

.std-link {
  color: rgb(26, 109, 205);
}

.std-link:hover {
  color: #0079d3;
}

.std-link:active {
  color: rgb(57, 134, 213); 
}

.thick-font {
  font-weight: 700;
}

.community-header {
  background-color: white;
}

.community-banner-placeholder {
  display: block;
  background-color: rgb(51, 168, 255);
  height: 64px;
  padding: 8px 16px;
}

.community-text-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 16px 0 24px;
}

.community-header-text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  margin-top: -14px;
  /* margin: 0 auto;
  max-width: 984px;
  padding: 0 16px 0 24px; */
  /* height: 100px; */
  /* background-color: white; */
}

.community-name {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  width: calc(100% - 80px);
}

.community-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  overflow: hidden;
  padding: 0 2px 4px 0;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.community-title + h2 {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7c7c7c;
}