/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: Noto Sans, Arial, sans-serif;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;
}

.modal-child {
  position: absolute;
  background-color: white;
  padding: 16px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Noto Sans, Arial, sans-serif;
}

.modal-child span {
  font-size: 2em;
  cursor: pointer;
}

header {
  /* position: -webkit-sticky; */
  /* position: fixed; */
  position: fixed;
  background-color: white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  z-index: 80;
  /* padding: 0 20px; */
}

.hidden-buffer {
  height: 50px;
  width: 100%;
}

body {
  background-color: #DAE0E6;
}

p {
  font-size: 12px;
}

.bubble-button {
  color: #0079d3;
  padding: 4px 16px;
  border: 1px solid #0079d3;
  font-size: 14px;
  background-color: white;
  width: 86px;
  height: 22px;
  margin-left: 16px;
  border-radius: 35px 35px 35px 35px;
  cursor: pointer;

  font-family: Noto Sans, Arial, sans-serif;
  letter-spacing: unset;
  font-weight: 700;
  text-align: center;
}

.bubble-button:hover {
  background-color: rgb(244, 249, 253);
}

.bubble-button:active {
  background-color: rgb(208, 228, 246);
}

.filled-blue {
  color: white;
  background-color: rgb(26, 109, 205);
}

.filled-blue:hover {
  color: white;
  background-color: #0079d3;
}

.filled-blue:active {
  background-color: rgb(57, 134, 213); 
}

.right-nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.setting-button {
  height: 30px;
  padding: 2px 15px;
  margin: 7px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.silhouette {
  height: 22px;
  width: 27px;
}

.chevron {
  width: 15px;
  height: 21px;
}

.setting-button:hover {
  padding: 1px 14px;
  border: 1px solid lightgray;
}

.logo {
  font-family: Noto Sans, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  margin-left: 20px;
}

.input-group {
  position: relative;
  margin: 20px 0 5px;
}

.input-group > input {
  font-size: 14px;
  padding: 22px 10px 12px 12px;
  display: block;
  height: 48;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: rgba(251, 251, 250, 0.7);
}

.input-group > input:hover,
.input-group > input:focus {
  outline: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.input-group > label {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2 ease all;
}

.input-group > input:hover ~ label,
.input-group > input:focus ~ label,
.input-group > input:valid ~ label {
  top: 5px;
  font-size: 12px;
}

.modal-child  button {
  margin-bottom: 10px;
}

.home-description {
  display: flex;
  align-items: center;
  justify-content: end;
  /* align-items: center; */
  flex-direction: column;
  padding: 0 12px 12px;
  /* width: 285px; */
  height: 228px;
  /* background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px; */
  font-size: 14px;
  font-weight: 400;
}

.home-description > h2 {
  /* text-align: left; */
  font-size: 16px;
  /* line-height: 20px; */
  font-weight: lighter;
  padding: 10px;
}

.home-description > a,
.home-description > button {
  line-height: 1.6;
  margin-top: 12px;
  margin-left: 0px;
  width: 90%;
}

.std-link {
  color: rgb(26, 109, 205);
}

.std-link:hover {
  color: #0079d3;
}

.std-link:active {
  color: rgb(57, 134, 213); 
}

.thick-font {
  font-weight: 700;
}

.community-header {
  background-color: white;
}

.community-banner-placeholder {
  display: block;
  background-color: rgb(51, 168, 255);
  height: 64px;
  padding: 8px 16px;
}

.community-text-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 16px 0 24px;
}

.community-header-text {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  margin-top: -14px;
  /* margin: 0 auto;
  max-width: 984px;
  padding: 0 16px 0 24px; */
  /* height: 100px; */
  /* background-color: white; */
}

.community-name {
  display: flex;
  align-items: flex-start;
  flex: 1;
  padding-left: 16px;
  margin-top: 24px;
  position: relative;
  width: calc(100% - 80px);
}

.community-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  overflow: hidden;
  padding: 0 2px 4px 0;
  text-overflow: ellipsis;
  width: 100%;
  display: inline-block;
}

.community-title + h2 {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7c7c7c;
}

.header-user-dropdown {
  position: relative;
  display: inline-block;
  width: 220px;
}

.header-user-dropdown > button {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 2px 0;
  min-height: 32px;
  margin-left: 8px;
  width: 195px;
}

.header-user-dropdown > button:active,
.header-user-dropdown > button:hover {
  border: 1px solid #edeff1;
}

.header-user-button-sec {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header-user-button-sec:first-child {
  display: flex;
  align-items: center;
  margin-left: 8px;
  text-align: left;
  width: 175px
}

.user-dropdown-menu {
  /* display: none; */
  /* display: none; */
  position: fixed;
  background-color: white;
  border-radius: 0 0 4px 4px;
  border: 1px solid #edeff1;
  border-top: none;
  margin-top: -2px;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 6px;
  width: 195px;
  z-index: 10;
}

.communities-list-header {
  background-color: white;
  height: 96px;
  padding: 0px;
}

.communities-list-header-content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  height: 96px;
  margin: 0px 24px;
  max-width: 1200px;
  padding: 0px 16px;
}

.communities-list-header-content > h1 {
  padding-bottom: 6px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}

.communities-list-header-content > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
}

.communities-list-content {
  max-width: 1248px;
  padding: 20px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.communities-listing {
  margin-top: 16px;
  max-width: 740px;
  width: 640px;
  flex: 1 1 100%;
}

.communities-list-ex {
  align-items: center;
  background-color: #f6f7f8;
  border-bottom: thin solid #edeff1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0px 16px;
  position: sticky;
  top: 48px;
  z-index: 3;
}

.communities-list-ex > h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.communities-list-ex > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #7c7c7c;
}

.communities-list-entries {
  background-color: white;
  list-style: none;
  padding-left: 0px;
  margin-top: 0px;
}

.communities-list-entries > li {
  border-bottom: thin solid #edeff1;
}

.communities-list-entries > li > a {
  height: 64px;
  padding: 0px 24px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.community-list-item {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.community-list-item > h1 {
  margin-right: 10px;
}

.about-community {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.about-community-header {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  background-color: #1a6dcd;
  color: white;
  padding: 0 12px 12px;
  border-radius: 4px 4px 0 0;
}

.about-community-header > h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 12px 0 0;
}

.about-community-description {
  max-height: none;
  padding: 12px;
}

.about-community-description > p {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  word-wrap: break-word;
}

.user-tracker {
  display: flex;
  margin-bottom: 8px;
}

.user-tracker > span {
  padding-right: 4px;
}

.user-tracker > span > h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.user-tracker > span > p {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.about-community-description > hr {
  background-color: #edeff1;
  border: none;
  height: 1px;
  margin: 16px 0;
}

.community-cake-tracker {
  display: flex;
  flex-direction: row;
}

.community-cake-tracker > svg {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.community-cake-tracker > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: flex;
  flex-flow: row nowrap;
}

.card {
  margin-top: 16px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: visible;
  word-wrap: break-word;
}

.post-card {
  width: 639px;
  max-width: 639px;
}

.aside-card {
  width: 286px;
  max-width: 286px;
}

.footer-card-content {
  display: flex;
  padding: 12px 8px;
}

.footer-card-content > div {
  flex-flow: column nowrap;
  width: 50%;
  padding: 0 4px;
  display: flex;
}

.footer-card-content > div > a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.reserved-rights {
  display: flex;
  padding: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.community-content {
  display: flex;
  max-width: 100%;
  padding: 4px 24px, 20px, 24px;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
}

.main-community-page {
  width: 640px;
}

.sidebar-community-page {
  margin-left: 24px;
  margin-top: 0;
}

.peroos-content-page {
  max-width: 1248px;
  padding: 20px 24px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.content-section {
  max-width: 740px;
  width: 640px;
  flex: 1 1 100%;
}

.create-post-draft-cont {
  padding: 4px;
  margin: 16px 0;
  border-bottom: 1px solid #edeff1;
  display: flex;
}

.create-post-draft-cont > a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  flex: 1;
}

.community-selection-tab {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.create-post-form {
  background-color: white;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.create-post-form-type-tabs {
  margin: 0 0 12px;
  overflow: auto;
}

.create-post-form-type-tabs > div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.create-post-form-type-tabs > div > button {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  padding: 15px 17px;
  z-index: 1;
  position: relative;
  flex: 1;
  text-align: center;
  border-color: #edeff1;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  border: none;
}

.create-post-form-input {
  margin: 16px;
}

.create-post-form-input-title {
  margin-bottom: 8px;
}

.create-post-form-input-title > div {
  position: relative;
}

.create-post-form-input-title > div > textarea {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 39px;
  padding: 8px 68px 8px 16px;
  border: 1px solid #edeff1;
  background-color: transparent;
  resize: none;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.create-post-form-input-title > div > div {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 12px;
  bottom: 12px;
  color: #878a8c;
  pointer-events: none;
  position: absolute;
  right: 12px;
}

.create-post-form-input-optional {
  position: relative;
}

.create-post-form-input-optional > div > textarea {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 160px;
  padding: 8px 16px;
  border: 1px solid #edeff1;
  background-color: transparent;
  min-height: 160px;
  resize: vertical;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.create-post-form-input-title > div > textarea:focus,
.create-post-form-input-optional > div > textarea:focus {
  border: 1px solid #898989;
}
/* 
.create-post-form-input-optional > div {
  border-radius: 4px;
  background-color: white;
  position: relative;
  border: 1px solid #edeff1;
} */

.content-sidebar {
  margin-left: 24px;
  margin-top: 0px;
  flex: 0 0 312px;
  width: 312px;
}

.sidebar-cards-container {
  padding-top: 11px;
  width: inherit;
}

.create-post-card-content {
  background-color: white;
  border-radius: 4px;
  /* border: 1px solid #ccc; */
  /* margin-bottom: 16px; */
  display: flex;
  align-items: center;
  padding: 8px;
}

.create-post-card-input-container {
  display: flex;
  flex-grow: 1;
}

.create-post-card-input {
  background-color: #f6f7f8;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
  box-sizing: border-box;
  flex-grow: 1;
  height: 38px;
  margin-right: 8px;
  outline: none;
  padding: 0 16px;
}

.create-post-card-input:hover {
  background-color: white;
  border: 1px solid #0079d3;
}

.image-icon {
  padding: 6px 6px 1px 6px;
  margin: 0 2px;
  background-color: white;
  border-radius: 4px;
  color: #bababa;
}

.link-icon {
  padding: 9px 8.5px 3px 8.5px;
  margin: 0 2px;
  background-color: white;
  border-radius: 4px;
  color: #bababa;
}

.image-icon:hover,
.link-icon:hover {
  color: #949597;
  background-color: #ededed;
}

.image-icon:active,
.link-icon:active {
  color: #7f8182;
  background-color: #c9c9c9;
}

.image-icon > svg {
  height: 25px;
}

.link-icon > svg {
  height: 20px;
}

.posting-to-content {
  padding: 12px;
}

.posting-to-content > div {
  font-size: 16px;
  line-height: 20px;
  align-content: center;
  border-bottom: 1px solid #edeff1;
  display: flex;
  font-weight: 500;
}

.posting-to-content > ol {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  list-style: decimal;
  list-style-position: inside;
}

.posting-to-content > ol > li {
  border-bottom: 1px solid #edeff1;
  padding: 10px 5px;
  display: list-item;
}

.create-post-form-send {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px 16px;
}

.create-post-form-send > hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #edeff1;
}

.create-post-form-send-buttons {
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.create-post-form-send-buttons > div {
  flex-direction: row;
  padding-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.create-post-form-send-buttons > div .bubble-button {
  height: 30px;
  width: 92px;
}

.post-content {
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  transition: color .5s,fill .5s,box-shadow .5s;
  overflow: hidden;
  color: #6c6e70;
  position: relative;
  background-color: white;
}

.vote-counter {
  width: 40px;
  border-left: 4px solid transparent;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 8px 4px 8px 0;
  position: absolute;
  top: 0;
}

.vote-counter > div {
  align-items: center;
  display: flex;
  fill: inherit;
  flex-direction: column;
  justify-content: center;
}

.vote-counter > div > div {
  color: black;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  word-break: normal;
  /* margin-right: .5px; */
  margin-top: 1px;
}

.vote-counter > div > div > a {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  height: 12px;
  line-height: 1;
  overflow: hidden;
  position: relative;
}

.vote-counter > div > button {
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vote-counter > div > button:hover {
  color: red;
}

.vote-counter > div > button > svg {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  color: #878a8c;
}

.post-content-body {
  padding-top: 8px;
  background-color: white;
}

.post-card-border:hover {
  border: 1px solid #898989;
}

.posted-by {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  margin: 0 8px 8px;
  position: relative;
}

.posted-by > div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow: hidden;
}

.posted-by > div > div {
  /* display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  align-items: center; */
  display: flex;
  flex-direction: row;
}

.username-link-highlight:hover {
  text-decoration: underline;
}

.post-title-sec {
  color: #0079d3;
  margin: 0px 8px;
}

.post-title-sec > div {
  display: inline;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}

.post-title-sec > div > a > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  display: inline;
  padding-right: 5px;
  word-wrap: break-word;
}

.post-body-sec {
  margin-top: 8px;
}

.post-body-sec > div {
  max-height: 250px;
  -webkit-mask-image: linear-gradient(180deg,#000 60%,transparent);
  mask-image: linear-gradient(180deg,#000 60%,transparent);
  overflow: hidden;
  padding: 5px 8px 10px;
}

.post-body-sec > div > div {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.post-footer-sec {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  padding-right: 10px;
  overflow-y: visible;
  color: #878a8c;
}

.post-footer-sec > div {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0 8px 0 4px;
  flex-grow: 1;
}

.post-footer-sec > div > a {
  padding: 8px;
  word-break: normal;
  margin-right: 4px;
  align-items: center;
  display: flex;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.vote-counter > div > button:hover,
.post-footer-sec > div > a:hover,
.post-share-button > button:hover,
.post-save-button > button:hover,
.post-ellipses-button > button:hover {
  background-color: #e8e8e8;
}

.post-footer-sec > div > a > svg {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.post-share-button {
  margin: 0 4px 0 0;
  width: auto;
  word-break: normal;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.post-share-button > button {
  border-radius: 2px;
  margin-right: 4px;
  padding: 8px;
  white-space: nowrap;
  width: auto;
  word-break: normal;
  word-wrap: normal;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.post-share-button > button > svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.post-save-button {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.post-save-button > button {
  border-radius: 2px;
  padding: 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

.post-save-button > button > svg {
  width: 15px;
  height: 20px;
  margin-right: 5px;
}

.post-ellipses-button {
  margin-left: 3px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  cursor: pointer;
}

.post-ellipses-button > button {
  border-radius: 2px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4px;
  width: 100%;
}

.post-ellipses-button > button > svg {
  width: 5px;
  height: 5px;
  margin: 0 1px;
}

.post-ellipses-button > button:last-child {
  margin-right: 0;
}

.search-bar-nav {
  position: relative;
  flex-grow: 1;
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
  height: auto;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-bar-nav > form {
  box-sizing: border-box;
  display: flex;
  background-color: #f6f7f8;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: none;
  height: 36px;
}

.search-bar-nav > form:hover,
.search-bar-nav > form:focus {
  border: 1px solid #0079d3;
}

.search-bar-nav > form > label {
  display: flex;
}

.search-bar-nav > form > label > div {
  display: flex;
  align-items: center;
  padding: 0 9px 0 15px;
}

.search-bar-nav > form > label > div > svg {
  width: 23px;
  color: #bababa;
}

.search-bar-nav > form > input {
  appearance: none;
  background-color: #f6f7f8;
  font-size: 14px;
  line-height: 14px;
  margin-right: 16px;
  outline: none;
  width: 100%;
  font-weight: 400;
}

.filter-feed-content {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 12px;
}

.hidden-create-post-button {
  margin-top: 12px;
}

.hidden-create-post-button > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-create-post-button > div > a {
  margin-left: 0;
  padding-top: 8px;
  padding-bottom: 2px;
  width: 100%;
}

.create-community-content {
  display: flex;
  align-items: center;
  /* box-sizing: border-box; */
  /* padding: 16px; */
  position: relative;
  /* border-radius: 0 4px 4px 0; */
  /* flex: 1 1 100%; */
  margin: 0;
  /* max-height: 100%;
  max-width: 100w;
  overflow-y: auto; */
}

.create-community-content > div {
  max-height: 100%;
  max-width: 492px;
}

.create-community-content > div > h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #edeff1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 0 0 16px;
}

.create-community-name-input {
  flex-direction: column;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: row wrap;
}

.create-community-name-sec {
  max-width: 100%;
  margin-bottom: -4px;
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.create-community-name-sec > h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  margin-bottom: 4px;
}

.create-community-name-sec > p {
  font-weight: 400;
  color: #7c7c7c;
}

.create-community-input-sec {
  display: flex;
  align-items: flex-start;
  margin-top: 12px;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}

.create-community-input-sec > h2 {
  color: #989ca0;
  position: relative;
  top: 28px;
  left: 12px;
}

.create-community-input-sec > input {
  max-height: 37px;
  padding-top: 4px;
  padding-left: 24px;
  box-sizing: border-box;
  height: 48px;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 12px 24px 12px 26px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: inherit;
  background-color: white;
  border: 1px solid #edeff1;
}

.create-community-input-sec > input:focus {
  border: 2px solid black;
}

.create-community-input-sec > p {
  color: #7c7c7c;
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.create-community-footer {
  background-color: #edeff1;
  width: 100%;
  padding: 16px;
  padding-bottom: 6px;
  margin: 16px -16px -16px;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.create-community-footer > .bubble-button {
  width: 128px;
}

.create-community-footer > button:first-child {
  width: 55px;
}

.create-community-errors {
  margin: -32px 0 16px;
  margin-left: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: red;
  padding-top: 4px;
  text-align: right;
  display: flex;
}

.create-community-errors > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.session-modal {
  align-self: center;
  padding: 24px;
}

.session-modal-x {
  display: flex;
  justify-content: flex-end;
}

.session-modal > h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.session-modal > p {
  margin-bottom: 48px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
}

.session-modal > form {
  width: 280px;
}

.session-modal > form > div > div {
  margin-top: 12px;
}

.session-modal > form > div > button {
  margin-top: 12px;
  margin-left: 0;
  width: 96.5%;
}

.forgor {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  /* margin-top: 8px; */
  margin-bottom: 20px;
}

.forgor p > button {
  color: rgb(26, 109, 205);
  text-decoration: none;
}

.session-modal > div:last-child {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 8px;
}

.post-con {
  background-color: #2b2c2c;
  /* top: 50px;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  backface-visibility: hidden;
  right: 0; */
  /* width: 100%; */
  /* z-index: 50; */
  padding-bottom: 48px;
}

.post-container > div {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
  will-change: transform;
  contain: layout style size;
}


.post-sticky-header {
  background-color: black;
  color: white;
  box-sizing: border-box;
  height: 48px;
  left: 0;
  margin: 0 auto;
  max-width: 1280px;
  /* position: -webkit-sticky; */
  position: fixed;
  right: 0;
  top: 50px;
  transition: top .3s ease;
  width: calc(100% - 160px);
  z-index: 70;
}

.post-sticky-header-content {
  padding: 0 32px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1128px;
  width: 100%;
}

.post-sticky-header-title {
  align-items: center;
  display: flex;
  flex: 1;
  max-width: calc(100% - 324px);
  width: 100%;
}

.post-sticky-header-title > div:first-child {
  color: #d7dadc;
}

.post-sticky-header-title > div:last-child {
  width: 100%;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
}

.post-sticky-header-title > div:last-child > p {
  color: #d7dadc;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: .4px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  white-space: nowrap;
}

.post-sticky-header-title > div:first-child > svg {
  width: 10.5px;
  height: 14px;
  margin-top: 1.5px;
  margin-right: 10px;
}

.post-sticky-header-content > div:last-child {
  display: flex;
  justify-content: flex-end;
  margin-left: 12px;
  width: 312px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

.post-sticky-header-content > div:last-child > a {
  color: #d7dadc;
  position: relative;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 16px;
  text-transform: unset;
  min-height: 24px;
  min-width: 24px;
  padding: 4px 8px;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  cursor: pointer;
}

.post-sticky-header-content > div:last-child > a > p:first-child {
  display: inline-block;
  height: 16px;
  width: 16px;
  line-height: 17px;
  padding: 0 4px 0 0;
  font-size: 22px;
}

.post-sticky-header-content > div:last-child > a > p:last-child {
  font-size: 12px;
}

.post-body-content {
  background-color: #dae0e6;
  box-sizing: border-box;
  top: 48px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  padding-bottom: 0;
  position: relative;
  width: calc(100% - 160px);
}

.post-body-main {
  max-width: 740px;
  flex: 1;
  margin: 32px 12px 32px 32px;
  min-height: 100vh;
  min-width: 0;
  padding-bottom: 1px;
  width: 100%;
  word-break: break-word;
}

.post-body-main > div {
  padding: 8px 0 16px 40px;
  position: relative;
  transition: color .5s,fill .5s;
  margin-top: 0;
}

.post-content-posted-by {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  margin: 0 8px 8px;
  position: relative;
}

.post-content-posted-by > div:first-child > a {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
}

.post-content-posted-by > div:first-child > a:hover {
  text-decoration: underline;
}

.post-content-posted-by > span {
  vertical-align: middle;
  color: #7c7c7c;
  font-size: 10px;
  line-height: 15px;
  margin: 0 4px;
}

.post-content-posted-by > div:last-child {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  overflow: hidden;
}

.post-content-posted-by > div:last-child > div {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  align-items: center;
  color: inherit;
  color: #878a8c;
}

.post-content-title {
  margin: 0 8px 8px;
}

.post-content-title > div {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.post-content-title > div > h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  display: inline;
  padding-right: 5px;
  word-wrap: break-word;
  letter-spacing: .3px;
}

.post-content-body-sec {
  max-width: 800px;
  padding: 5px 16px 5px 8px;
}

.post-content-body-sec > div {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.post-content-buttons {
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding-right: 16px;
  padding-top: 4px;
  display: flex;
  word-break: break-word;
}

.post-body-aside {
  /* display: block;
  margin: 32px 32px 32px 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 312px; */
  margin-top: 16px;
  margin-right: 32px;
}

.post-body-aside .bubble-button {
  height: 34px;
}

.please-underline:hover {
  text-decoration: underline;
}

.post-comment-form {
  margin: 24px 40px 24px 8px;
}

.comment-text-box {
  overflow-x: hidden;
  overflow-wrap: break-word;
  /* height: 160px; */
  padding: 8px 16px;
  /* border: 1px solid #edeff1; */
  background-color: transparent;
  /* min-height: 160px; */
  resize: vertical;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  height: 138px;
  min-height: 138px;
}

.highlight-box {
  border: 1px solid #edeff1;
  border-radius: 4px;
}

.highlight-box:focus-within {
  border: 1px solid black;
}

.markdown-footer {
  background-color: #f6f7f8;
  border-radius: 0 0 4px 4px;
  bottom: 0;
  opacity: 1;
  /* position: sticky; */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
}

.markdown-footer > button {
  padding: 4px;
  width: 84px;
  height: 25px;
  margin-right: 10px;
}

.user-link-container {
  margin-bottom: 5px;
}

.user-link {
  color: #1a6dcd;
}

.user-link:hover {
  text-decoration: underline;
}

.post-comment-list {
  box-sizing: border-box;
  padding-right: 16px;
  margin: 16px 16px 0 10px;
  padding-bottom: 16px;
}

.comment-list-item-container {
  margin-top: 0px;
  background: transparent;
  border-radius: 4px;
  display: flex;
  position: relative;
  padding: 8px 0 0 8px;
  align-items: center;
  margin-left: -36px;
}

.comment-list-item {
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  max-width: 800px;
  width: 90%;
  padding: 0;
  align-self: flex-start;
}

.comment-list-item-commenter {
  margin-top: 5px;
  margin-left: 0;
  min-height: 18px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-list-item-commenter > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between;
  width: 29.5%; */
}

.comment-list-item-commenter > div > span {
  font-size: 12px;
  margin-right: 3px;
}

.comment-list-item-commenter > div > span:first-child > a:hover {
  text-decoration: underline;
}

.op {
  color: rgb(0, 121, 211);
  font-weight: 700;
}

.dot > p {
  font-size: 7px;
  color: #7c7c7c;
}

.comment-list-item-commenter > div > span:last-child {
  color: #7c7c7c;
}

.comment-list-item-content {
  padding: 2px 0;
  width: 100%;
}

.comment-list-item-content > div {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.comment-list-item-content > div > p {
  font-size: 16px;
}

.comment-user-icon-container {
  align-self: flex-start;
  flex: 0 0 auto;
}

.comment-user-icon {
  height: 28px;
  min-height: 28px;
  min-width: 28px;
  width: 28px;
  border: 0;
  margin: 6px 0 0;
}

.comment-user-icon > svg {
  height: 30px;
  color: #1a6dcd;
}

.comment-vote-counter {
  margin: 3px 4px 4px -4px;
  padding: 0;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.comment-vote-counter div {
  margin: 4px;
  line-height: 15px;
  font-size: 12px;
  font-weight: 700;
  pointer-events: none;
  word-break: normal;
}

.comment-vote-counter svg {
  width: 20px;
  height: 20px;
}

.comment-list-item-footer {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
}

.comment-buttons > .post-footer-sec > div > .post-edit-button,
.comment-buttons > .post-footer-sec > div > .post-delete-button {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.comment-buttons > .post-footer-sec > div > .post-edit-button > button,
.comment-buttons > .post-footer-sec > div > .post-delete-button > button {
  border-radius: 2px;
  padding: 8px;
  display: flex;
  align-items: center;
  height: 100%;
}

.comment-buttons > .post-footer-sec > div > .post-edit-button > button:hover,
.comment-buttons > .post-footer-sec > div > .post-delete-button > button:hover {
  background-color: #e8e8e8;
}

.comment-buttons > .post-footer-sec > div > a,
.comment-buttons > .post-footer-sec > div > .post-share-button,
.comment-buttons > .post-footer-sec > div > .post-share-button > button,
.comment-buttons > .post-footer-sec > div > .post-edit-button,
.comment-buttons > .post-footer-sec > div > .post-delete-button {
  margin: 0;
}