.bubble-button {
  color: #0079d3;
  padding: 4px 16px;
  border: 1px solid #0079d3;
  font-size: 14px;
  background-color: white;
  width: 86px;
  height: 22px;
  margin-left: 16px;
  border-radius: 35px 35px 35px 35px;
  cursor: pointer;

  font-family: Noto Sans, Arial, sans-serif;
  letter-spacing: unset;
  font-weight: 700;
  text-align: center;
}

.bubble-button:hover {
  background-color: rgb(244, 249, 253);
}

.bubble-button:active {
  background-color: rgb(208, 228, 246);
}

.grey-out {
  color: #d1d1d1;
  background-color: #878a8c;
  border-color: #878a8c;
}

.grey-out:hover {
  cursor: not-allowed;
  color: #d1d1d1;
  background-color: #878a8c;
  border-color: #878a8c;
}

.filled-blue {
  color: white;
  background-color: rgb(26, 109, 205);
}

.filled-blue:hover {
  color: white;
  background-color: #0079d3;
}

.filled-blue:active {
  background-color: rgb(57, 134, 213); 
}

.silhouette {
  height: 22px;
  width: 27px;
}

.setting-button {
  height: 30px;
  padding: 2px 15px;
  margin: 7px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.chevron {
  width: 15px;
  height: 21px;
}

.setting-button:hover {
  padding: 1px 14px;
  border: 1px solid lightgray;
}

.std-link {
  color: rgb(26, 109, 205);
}

.std-link:hover {
  color: #0079d3;
}

.std-link:active {
  color: rgb(57, 134, 213); 
}

.thick-font {
  font-weight: 700;
}