
.comment-text-box {
  overflow-x: hidden;
  overflow-wrap: break-word;
  /* height: 160px; */
  padding: 8px 16px;
  /* border: 1px solid #edeff1; */
  background-color: transparent;
  /* min-height: 160px; */
  resize: vertical;
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  height: 138px;
  min-height: 138px;
}

.comment-list-item-container {
  margin-top: 0px;
  background: transparent;
  border-radius: 4px;
  display: flex;
  position: relative;
  padding: 8px 0 0 8px;
  align-items: center;
  margin-left: -36px;
}

.comment-list-item {
  margin-left: 8px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-sizing: border-box;
  max-width: 800px;
  width: 90%;
  padding: 0;
  align-self: flex-start;
}

.comment-list-item-commenter {
  margin-top: 5px;
  margin-left: 0;
  min-height: 18px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.comment-list-item-commenter > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between;
  width: 29.5%; */
}

.comment-list-item-commenter > div > span {
  font-size: 12px;
  margin-right: 3px;
}

.comment-list-item-commenter > div > span:first-child > a:hover {
  text-decoration: underline;
}

.comment-list-item-commenter > div > span:last-child {
  color: #7c7c7c;
}

.comment-list-item-content {
  padding: 2px 0;
  width: 100%;
}

.comment-list-item-content > div {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
}

.comment-list-item-content > div > p {
  font-size: 16px;
}

.comment-user-icon-container {
  align-self: flex-start;
  flex: 0 0 auto;
}

.comment-user-icon {
  height: 28px;
  min-height: 28px;
  min-width: 28px;
  width: 28px;
  border: 0;
  margin: 6px 0 0;
}

.comment-user-icon > svg {
  height: 30px;
  color: #1a6dcd;
}

.comment-list-item-footer {
  margin-left: -4px;
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
}

.comment-edit-cont {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-content: center;
}

.comment-line {
  height: inherit;
  border-left: 3px solid #f6f7f8;
  margin-right: 23px;
}
